/* CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* CSS Rules */


#calculator {
    width: 500px;
    height: 650px;
    margin: 50px auto;
    background-color: rgb(16, 114, 16);
    border: 3px solid rgb(13, 99, 13);
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#display {
    min-width: 450px;
    height: 100px;
    background-color: rgb(186, 186, 186);
    margin: 25px auto;
    padding-left: 50px;
    padding-right: 50px;
    flex: 0 0 450px;
    border: 2px solid rgb(13, 99, 13);
    border-radius: 15px;
    text-align: right;
    vertical-align: middle;
    line-height: 100px;
    font-size: 40px;
    font-weight: 700;
}

#buttons {
    width: 450px;
    height: 450px;
    background-color:rgb(23, 134, 23);
    border: 2px solid rgb(13, 99, 13);
    border-radius: 15px;
    padding: 10px;
    flex: 0 0 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.button {
    min-width: 100px;
    min-height: 100px;
    flex: 0 0 100px;
    margin: 2px;
    border-radius: 5px;
    border-width: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.number-button {
    background-color: rgb(180, 198, 38);
    border-color: rgb(81, 90, 16);
}

.operator-button {
    background-color: rgb(194, 133, 29);
    border-color: rgb(113, 78, 17);
}

.function-button {
    background-color: rgb(34, 115, 190);
    border-color: rgb(20, 69, 116);
}

#bclear {
    font-size: 20px;
}
